/* styles/Biography.module.class */
.wrapper {
    display: flex;
    padding: 25px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 30px 0; */
    background-color: var(--BgColorSecondary);
    color: black;
  }

  .row, .column {
    border-radius: var(--contentBorderRadius);
  }

  .row {
    display: flex;
    width: 1690px;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px; /* spacing between the columns */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
    padding: 15px;
    border-radius: var(--contentBorderRadius);
    /* background-color: var(--BgColorMain); */
  }

  .column {
    display: flex; 
    flex-direction: column; 
    width: 100%;
    overflow: hidden;
    padding: 25px;
    background-color: rgb(199, 199, 199);
    background-color: var(--BgColorMain);

    /* background-color: var(--BgColorSecondary); */
  }

  .column h2 {
    font-size: 26px;
    /* background-color: chartreuse; */
  }

  .column h4 {
    font-size: 34px;
    /* background-color: chartreuse; */
  }

  .column p, .column ul, .column a {
    font-size: 18px;
    padding-top: 50px;
  }

  .leftColumn {
    padding: 7cqb; 
    border-radius: var(--contentBorderRadius);
    /* background-color: darkmagenta; */
    /* background-color: var(--BgColorMain); */
    background-color: var(--BgColorSecondary);
    /* border-style: dashed; */
    border-color: var(--BgColorSecondary);
  }

  .rightColumn {
    position: relative;
    width: 100%;
    height: 100%;
}

.columnImage {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.columnImage img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--contentBorderRadius);
}

  @media (max-width: 1200px) {
    .row {
      flex-basis: 100%;
      width: 100%;
      flex-wrap: wrap;
    }
  }


  