/* styles/Home.module.css */
.imageContainer {
  position: relative;
  border-radius: var(--contentBorderRadius);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
  height: 699px;
  width: 1600px;
}

.imageContainer:hover {
  transform: scale(1.00);
}

.imageContainer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}

.imageContainer:hover::before {
  background: rgba(0, 0, 0, 0.1);
}


.titles {
  padding: 75px;
}

.title {
  font-size: 4em;
  line-height: 1.1;
  width: 550px;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 2em;
  line-height: 1.1;
  width: 450px;
}

.textBlack {
  color: black;
}

.textWhite {
  color: white;
}


@media (max-width: 1200px) {

  .subTitle {
    font-size: 2.5em; /* Decrease font size for smaller screens */
  }

  .text {
    font-size: 1.75em; /* Decrease font size for smaller screens */
  }
}

@media (max-width: 768px) {

  .subTitle {
    font-size: 2em; /* Decrease font size for smaller screens */
  }

  .text {
    font-size: 1.5em; /* Decrease font size for smaller screens */
  }
}

@media (max-width: 480px) {

  .subTitle {
    font-size: 2em; /* Further decrease font size for even smaller screens */
  }

  .text {
    font-size: 0.8em; /* Further decrease font size for even smaller screens */
  }
}
